[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "gunicorn -w 4 -b 0.0.0.0:9000 app:app"

[packages]
flask = "*"
future = "*"
dialogflow = "*"
nltk = "*"
spacy = "==2.0.13"
anytree = "*"
msgpack = "==0.5.6"
scikit-learn = "==0.20.2"
matplotlib = "*"
joblib = "*"
numpy = "==1.16.0"
requests = "*"
pymongo = "*"
dnspython = "*"
flask-cors = "*"
gunicorn = "*"
lumi-webhook = {editable = true,path = "."}

[dev-packages]
pylint = "*"
pylint-venv = "*"
